<%- include('./../partials/head.ejs') %> 
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
<%- include('./../partials/navigation.ejs')%>
<main class="form-container">
    <form action="/postSignup" method="POST" class="form-body">
        <p class="form-title ">SIGN UP</p>
        <div class="fieldWrapper">
            <label for="">Email</label>
            <input type="text" name="email" value=""/>
        </div>
        <div class="fieldWrapper">
            <label for="">Password</label>
            <input type="password" name="password" value=""/>
        </div>
        <div class="fieldWrapper">
            <label for="">Confirm Password</label>
            <input type="password" name="confirmPassword" value=""/>
        </div>
        <button type="submit">Signup</button>
    </form>
</main>
<%- include('./../partials/end.ejs') %>
