<%- include('./partials/head.ejs') %> 
<link rel="stylesheet" href="/css/cart.css">
</head>
<body>
<%- include('./partials/navigation.ejs')%>
<main>
  <p>Oops!</p>
  <p><%= errorMessage%></p>
</main>
<%- include('./partials/end.ejs') %>
