.login-links-section{
    display: flex;
    justify-content: space-between;
}

.login-links-section  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 6px 12px;
    height: 34px;
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.login-links-section  a:first-child{
    margin-right: 1rem;
}