.form-container {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-body {
  padding: 1.5rem;
  width: 50vw;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-title {
  margin: 0 0 1rem 0;
  text-transform: capitalize;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 600;
}
