* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  border: 0;
}

main {
  margin-top: 50px;
  padding: 0.5rem 1rem;
}

hr {
  height: 0.5px;
  border: none;
  background-color: #ccc;
}

.flash-container {
  text-align: center;
}

.flash-message {
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: 2px solid #ccc;
  color: white;
}

.danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
