* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  border: 0;
}

main {
  margin-top: 50px;
  padding: 0.5rem 1rem;
}

hr {
  height: 0.5px;
  border: none;
  background-color: #ccc;
}

.flash-message {
  display: inline-block;
  border-radius: 2px;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 100%;
  margin: 1rem 0;
}

.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.form-card {
  padding: 1.5rem;
  width: 50vw;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-card-title {
  margin: 0 0 1rem 0;
  text-transform: capitalize;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 600;
}

.custom-href {
  padding: 0;
  margin-bottom: 0;
}

.orgName {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.orgName > i {
  color: #f1c40f;
}

.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Pagination */
.pagination {
  text-align: center;
  padding: 1rem;
}

.pagination > a {
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}
